## tripadvisor_hotel_reviews_csv_prep

Preparing a csv for testing

## Import libraries

In [2]:
import pandas as pd

## Import CSV

In [4]:
# Read the CSV file, skipping the specified rows
df = pd.read_csv('tripadvisor_hotel_reviews.csv')

# Display the DataFrame
print(df)

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [10]:
# Add a new column for the length of review text
df["length_of_review_text"] = df["Review"].apply(lambda x: len(x) if isinstance(x, str) else 0)

In [11]:
df["length_of_review_text"].mean()

724.896832755844

In [12]:
df.rename(columns={'review': 'text'}, inplace=True)

In [13]:
df

,Review,Rating,length_of_review_text
0,nice hotel expensive parking got good deal sta...,4,593
1,ok nothing special charge diamond member hilto...,2,1689
2,nice rooms not 4* experience hotel monaco seat...,3,1427
3,"unique, great stay, wonderful time hotel monac...",5,600
4,"great stay great stay, went seahawk game aweso...",5,1281
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,733
20487,great location price view hotel great quick pl...,4,306
20488,"ok just looks nice modern outside, desk staff ...",2,443
20489,hotel theft ruined vacation hotel opened sept ...,1,5557
20490,"people talking, ca n't believe excellent ratin...",2,620

In [14]:
# Assuming df is your DataFrame
top_100_instances = df.head(100)

In [16]:
top_100_instances["length_of_review_text"].mean()

615.39

In [20]:
top_100_instances["Rating"].value_counts()

Rating
4    33
5    32
2    12
3    12
1    11
Name: count, dtype: int64

In [21]:
top_100_instances.to_csv('tripadvisor_hotel_reviews_edited.csv', index=False)